
<a class="btn btn-primary" style="margin:20px auto" routerLink="/addProduct">Add product</a>
<div style="display:flex; flex-direction:row; gap:10px; margin-top:20px;">
  <div *ngFor="let Product of filteredProducts" class="card" style="width: 18rem;  ">

    <div class="card-body">
      <h5 class="card-title">{{Product.name}}</h5>
      <p class="card-text">Smart phones with high specification</p>
      <a routerLink="/SinglePageProduct/{{Product.id}}" class="card-link">SeeDetails</a>
    </div>
  </div>


</div>
