<div style="display:flex; flex-direction:row; gap:10px; margin-top:20px;">
  <div class="card" style="width: 18rem;  ">
    <div class="card-body">
      <h5 class="card-title">Iphone15</h5>
      <p class="card-text">Smart phones with high specification</p>
      <a routerLink="/CategoryPage" class="card-link">Back </a>
    </div>
  </div>
  <div class="card" style="width: 18rem; ">
    <div class="card-body">
      <h5 class="card-title">Dell Core I5</h5>
      <p class="card-text">Smart Laptops with high specification</p>
      <a routerLink="/CategoryPage" class="card-link">Back </a>
    </div>
  </div>

</div>
