
<!---->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Product of filteredProducts">
      <td>{{ Product .id }}</td>
      <td class="card-text">Smart phones with high specification</td>

      <td>{{Product.name}}</td>
      <td>
        <div style="display: flex; gap: 10px;">
          <a class="btn btn-primary" [routerLink]="['/Dashboard/ProductsPage1', Product .id]">See details</a>


        </div>
      </td>
    </tr>
  </tbody>
</table>
